/*#f8fafb #eff3f6; #26bdcf*/

body {
  background-color: #eff3f6;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  wrap: wrap;
}

.weatherCard {
  background-color: #f8fafb;
  width: 45%;
  min-width: 400px;
  border-radius: 10px;
}

#weatherIcon {
  width: 50%;
}
