<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/static/style.css" />
    <title>DressCode</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="banner">
          <h1>DressCode</h1>

          <form action="/" method="post" class="form" id="search-form">
            <input
              id="input"
              type="search"
              placeholder="Enter a location..."
              name="city_name"
            />
            <img id="getLocation" src="/static/crosshair.svg" class="icon" />
            <button id="search" type="submit">
              <img src="/static/search.svg" />
            </button>
          </form>

          <img src="/static/units.svg" alt="Switch between Celcius and Fahrenheit" id="units"></img>

          <div class="social-icons">
            <a href="https://github.com"><i class="fa fa-github"></i></a>
            <a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
            <a href="https://linkedin.com"><i class="fa fa-linkedin"></i></a>
            <a href="https://facebook.com"><i class="fa fa-facebook"></i></a>
            <a href="https://codepen.io"><i class="fa fa-codepen"></i></a>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class="flex">
        <section class="flex weatherCard">
          <div class="history">
            <ul>
              <!-- Search history buttons will be generated dynamically through javascript instead of jinja -->
            </ul>
          </div>

          <div class="column">
            <div class="iconFrame">
              <img id="weatherIcon" />
              <p id="description">{{ weather_info.list[0].weather[0].description }}</p>
            </div>
            <h2 id="city-name">{{ weather_info.city.name }}</h2>
          </div>

          <div class="flex">
            <div class="column">
              <div class="info">
                <p>Temperature:</p>
                <p id="temperature"></p>
              </div>

              <div class="info">
                <p>Feels like:</p>
                <p id="feelsLike"></p>
              </div>

              <div class="info">
                <p>Min temp:</p>
                <p id="temp_min"></p>
              </div>

              <div class="info">
                <p>Max temp:</p>
                <p id="temp_max"></p>
              </div>

              <div class="info">
                <p>Humidity:</p>
                <p id="humidity">{{ weather_info.list[0].main.humidity }}%</p>
              </div>

              <div class="info">
                <p>Wind:</p>
                <p id="wind">{{ weather_info.list[0].wind.speed }}m/s</p>
              </div>

            </div>
          </div>
        </section>

        <section class="weatherCard">
          <h2>Fashion forecast</h2>
          <div class="column" id="fashion-forecast">
            <!-- Fashion forecast -->
          </div>
        </section>
      </div>

      <section class="weatherCard">

        <div class="text">
          <p id="sunrise"></p>
          <div id="clock"></div>
          <p id="sunset"></p>
        </div>

          <svg>
            <circle cx="125" cy="125" r="100" class="track" />
            <circle cx="125" cy="125" r="100" class="progress" />
          </svg>

      </section>


      <footer class="column">
        <p><strong>Copyright &#169; Daniel Svensson 2023</strong></p>
        <p><a href="https://www.flaticon.com/free-animated-icons/umbrella" title="Apparell Animated Icons">Umbrella animated icons created by Freepik - Flaticon</a></p>
        <p><a href="https://github.com/basmilius/weather-icons">Weather Icons by Basmilius</a></p>
      </footer>
    </main>

    <script>
      let weatherInfo = {{ weather_info|safe }};
      let searches = {{ searches|tojson }};
      let apology = "{{ apology if apology else '' }}";
    </script>

    <script src="/static/script.js"></script>
  </body>
</html>
