<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>DressCode</title>
  </head>
  <body>
    <header>
      <div>
        <h1>DressCode</h1>
        <nav></nav>
      </div>
    </header>

    <h2>Hello, World👍</h2>
    <main class="flex">
      <div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
          quidem.
        </p>
        <p id="test"></p>
      </div>
      <div class="column"></div>
    </main>

    <footer>
      <p>Copyright &#169; Daniel Svensson 2023</p>
    </footer>

    <script src="/static/script.js"></script>
  </body>
</html>
